/* ////////////// GENERAL STYLE: ALL PAGES of the website//////ACDG Review////////////////  */
*{
  margin : 0;
  padding : 0;
} /* REMOVE AUTOMATICS MARGIN and PADDING FROM ALL WEB BROWSERS */

:root {
  --white : #ffffff;
  --greymedium : #D9D9D9;
  --greylight : #A7A7A7;
  --grey : #434343;
  --noir : #000000;  
  --bleu : #1BB5B0;
  --orange : #F4661B;
  --yellow : #FFD600;
  --red : #FF0000;

  --police : "noto sans" sans-serif;
}
/* //// HEADBAND HOOK ////  */
.hookhp{
  color : var(--orange);
  font-family: var(--police);
  font-weight : 700;
  font-size : 32px;
}
/* //// HEADBAND CATEGORIES //// */
.liencat{
  text-decoration-line: none;
}
/* 
a {
  margin : 0;
  padding : 0;
}
* {
  --bs-gutter-x : 1.2rem;
} 
*/
/* ////////  END GENERAL STYLE  ///////// */

/* ////////////////// MENU NAVBAR Areview ////// ALL PAGES of the website //////////////// */  
main{
  min-height: 80vh
}
.grey{
  background-color: var(--grey); 
}
.menu {
  color : var(--white);
  font-weight : 700;
}
.d-inline {
  color : var(--white);
  font-weight : 700;
}
.navbar-nav .nav-item a {
  color : var(--white);
  text-transform : uppercase;
  font-weight : 900;
}
.navbar-nav .nav-item a:hover {
  color : var(--orange);
}
.fa-user, .fa-lock, .fa-magnifying-glass {
  color : var(--orange);
}
#search svg {
  color : var(--orange);
}
#user svg {
  color : var(--orange);
}
/* ////////  END NAVBAR  ///////// */


/* ///////////////////////// EMILIE //// HOME PAGE (main)//// of the website ///////////////////////////*/
/* //// HEADBAND CATEGORIES //// HOME PAGE //// */
.stcategoryhp{
  color : var(--white);
  font-family: var(--police);
  background-color: var(--grey);
  font-weight : 700;
  font-size : 25px;
}
.stcategoryhp:hover {
  color: var(--bleu);
  background-color: var(--orange);
}
/* //// ARTICLE TITLE //// HOME PAGE //// */
.tarticlehp{
  color : var(--bleu);
  font-family: var(--police);
  font-weight : 700;
  font-size : 22px;
}
.tarticlehp:hover {
  color: var(--orange);
}
/* //// ARTICLE TEXT //// HOME PAGE //// */
.tphp {
  color: var(--grey);
  font-family : var(--police);
  font-weight : 400;
  font-size : 18px;
  text-align : justify;
  text-align : left;
}

.ppub{
  color: var(--orange);
  font-family : var(--police);
  font-weight : 300;
  font-size : 16px;
  text-align : justify;
  text-align : left;
}
/* //// CATEGORIES IMAGES //// HOME PAGE //// */
.gdhp {
  max-height:100%;
  opacity: 1
}

.gdhp:hover {
  opacity: 0.5;
}

/* //// ARTICLES IMAGES //// HOME PAGE //// */

.artimg {
  max-height:100%;
  opacity: 1
}

.artimg:hover {
  opacity: 0.5;
}

/* ////////  END HOMEPAGE (Emilie)  ///////// */


/* ///////////////////////// JONATHAN ////MOVIE PAGE (main) /////////////////////////////////*/

/* ////////  END MOVIE PAGE  ///////// */


/* ///////////////////////// JULES ////SERIES & CONTACT PAGES (main) /////////////////////////////////*/

/* ////////  END SERIES & CONTACT PAGES  ///////// */


/* //// GAMING PAGE (main) NOT DEVELOPED BUT MOCK-UP ////*/
/* //// BOOK PAGE (main) NOT DEVELOPED BUT MOCK-UP ////*/
.construction{
  color : var(--red);
  font-family: var(--police);
  font-weight : 500;
  font-size : 32px;
}
/* //// END GAMING PAGE & BOOK PAGE ///// */

/* ///////////////////////// IVAN ////EVENTS PAGE (main) /////////////////////////////////*/

/* ////////  END EVENTS PAGE  ///////// */


/* ///////////////////////// VICTORIEN //// ACCOUNT PAGE (main) /////////////////////////////////*/

/* ////////  END ACCOUNT PAGE  ///////// */


/* ///////////////////////// JULIEN //// LOGIN & REGISTER PAGES (main) /////////////////////////////////*/

/* ////////  END LONGIN & REGISTER PAGES  ///////// */


/* ///////////////////////// BENJAMIN //// FEED-BACK PAGE (main) /////////////////////////////////*/

/* ////////  END FEED-BACK PAGE  ///////// */


/* ///////////////////////// THEO //// MOVIE DESCRIPTION PAGE (main) /////////////////////////////////*/

/* ////////  END MOVIE DESCRIPTION PAGE  ///////// */


/* ///////////////////////// DAVID //// CELEBRITY PAGE (main) /////////////////////////////////*/

/* ////////  END CELEBRITY PAGE  ///////// */



/*  ////////////////   FOOTER ALL PAGESAreview ////// ALL PAGES of the website //////////////// */ 
.footer {
  color : var(--white);
  background-color : var(--grey);
}
.x_center {
  display : flex;
  justify-content : center;
  width : 100%;
  margin-left : 0;
  margin-right : 0;
}
.marginneg {
  width: 100%;
  height: 100%;
  max-height:384px;
}
.lien a {
  color : var(--white);
  font-family : var(--police);
  text-decoration : none;
}
#bouton_orange, #confirmer {
  background-color : var(--orange);
  color :var(--white);
  padding : 10px 20px;
  font-family : var(--police);
  border : none;
  border-radius : 18px;
  font-weight : bold;
  text-transform : uppercase;
  cursor : pointer;
  outline : none;
}
  /* ///////// END FOOTER //////////// */

 